name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  release-linux:
    name: Release Linux
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Add $GOPATH/bin to $PATH
        run: |
          echo "$(go env GOPATH)/bin" >> "$GITHUB_PATH"

      - uses: actions/checkout@v2

      - name: Build
        env:
          GOARCH: 'amd64'
          CGO_ENABLED: 1
        run: |
          mkdir -p dist
          go build -o dist/treesitter-server-linux-amd64 ./cmd/treesitter-server
        shell: bash

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: dist-linux
          path: dist/treesitter-server-*

  release-macos:
    name: Release macOS
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    steps:
      - run: brew update

      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Add $GOPATH/bin to $PATH
        run: |
          echo "$(go env GOPATH)/bin" >> "$GITHUB_PATH"

      - uses: actions/checkout@v2

      - name: Build
        run: |
          mkdir -p dist
          go build -o dist/treesitter-server-macos-amd64 ./cmd/treesitter-server
        env:
          GOARCH: 'amd64'
          CGO_ENABLED: 1
        shell: bash

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: dist-macos
          path: dist/treesitter-server-*

  release-windows:
    name: Release Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW64
          path-type: inherit

      - uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Add $GOPATH/bin to $PATH
        run: |
          echo "$(go env GOPATH)/bin" >> "$GITHUB_PATH"
        shell: msys2 {0}

      - uses: actions/checkout@v2

      - name: Build
        run: |
          mkdir -p dist
          go build -o dist/treesitter-server-windows-amd64.exe ./cmd/treesitter-server
        env:
          GOARCH: 'amd64'
          CGO_ENABLED: 1
        shell: bash

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: dist-windows
          path: dist/treesitter-server-*

  upload:
    name: Upload Releases
    runs-on: ubuntu-latest
    needs: [release-linux, release-macos, release-windows]
    defaults:
      run:
        shell: bash

    steps:
      - name: Download Artifact (linux)
        uses: actions/download-artifact@v2
        with:
          name: dist-linux

      - name: Download Artifact (macos)
        uses: actions/download-artifact@v2
        with:
          name: dist-macos

      - name: Download Artifact (windows)
        uses: actions/download-artifact@v2
        with:
          name: dist-windows

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: softprops/action-gh-release@9993ae85344fa542b3edb2533f97011277698cf6
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: false
          prerelease: false
          files: |
            ./treesitter-server-*
